.sign-in label {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.sign-in input {
  padding: .2rem 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button-container button {
  padding: 0.5rem 2rem;
  border: transparent;
  background: #40E0D0;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.start-button-container button:active {
  opacity: 0.6;
  transform: scale(0.98);
}